name: JQuill CI

on:
  push:
    branches: [main, ci-test]
  pull_request:
    branches: [main, ci-test]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - build: maven
            java: 17
            mavenVersion: "3.8.8"
          - build: maven
            java: 21
            mavenVersion: "3.9.11"
          - build: gradle
            java: 17
            gradleVersion: "8.3"
          - build: gradle
            java: 21
            gradleVersion: "8.4"
    continue-on-error: true
    name: Java ${{ matrix.java }} + ${{ matrix.build }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}

      - name: Setup Maven
        if: matrix.build == 'maven'
        uses: stCarolas/setup-maven@v4
        with:
          maven-version: ${{ matrix.mavenVersion }}

      - name: Setup Gradle
        if: matrix.build == 'gradle'
        uses: gradle/actions/setup-gradle@v3
        with:
          gradle-version: ${{ matrix.gradleVersion }}

      - uses: actions/cache@v3
        with:
          path: ${{ matrix.build == 'maven' && '~/.m2/repository' || '~/.gradle/caches' }}
          key: ${{ runner.os }}-${{ matrix.build }}-${{ hashFiles('**/pom.xml','**/build.gradle') }}

      - name: Build Project
        run: |
          if [ "${{ matrix.build }}" == "maven" ]; then
            mvn -B -T 1C clean install
          else
            gradle --parallel clean build --console=plain
          fi